html, body, div, ul, li, p, img, h1, h2, h3, h4, h5, h6 {
	position: relative;
	margin: 0;
	border: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 50px 0 0 125px;
	overflow: hidden;
	font-family: "Orbitron", sans-serif;
	text-rendering: geometricPrecision;
	cursor: default;
}

ul {
	list-style-type: none;
}

.menu {
	font-size: 36px;
}

.menu h1, .menu caption {
	font-size: 64px;
	margin-bottom: 20px;
	text-shadow: #000 4px 4px;
	font-weight: bold;
	text-align: left;
}

.menu h1 span {
	margin-right: 2px;
}

.menu ul {
	margin-left: 53px;
}

.menu li {
	padding-bottom: 7px;
}

.menu li:hover {
	cursor: pointer;
}

#main_menu li {
	-webkit-transition: margin-left 0.05s ease-out;
	-moz-transition: margin-left 0.05s ease-out;
	-o-transition: margin-left 0.05s ease-out;
	transition: margin-left 0.05s ease-out;
}

#main_menu li:hover {
	margin-left: -40px;
	text-shadow: 0 0 10px #E2DA0E;
}

.value {
	position: absolute;
	left: 325px;
}

#field, #controls_menu, #high_scores_menu {
	display: none;
}

table {
	width: 100%;
}

th {
	font-size: 24px;
}

td {
	font-size: 24px;
	max-width: 30px;
}

th, td {
	text-align: left;
}

.replay {
	cursor: pointer;
}

.back_to_main {
	color: #440BAD;
	margin-top: 50px;
	display: block;
	cursor: pointer;
}
