@font-face {
	font-family: "ProFontWindows";
	src: url("fonts/ProFontWindows.eot"), url("fonts/ProFontWindows.ttf");
}

html, body, div, ul, li, p, img, h1, h2, h3, h4, h5, h6 {
	position: relative;
	margin: 0;
	border: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 50px 0 0 125px;
	overflow: hidden;
	font-family: "Orbitron", sans-serif;
	cursor: default;
	background: #000;
}

ul {
	list-style-type: none;
}

.menu {
	font-size: 37px;
	background: url(menuback.png) no-repeat;
	min-height: 700px;
	padding: 125px 0 0 220px;
}

.menu h1, .menu caption {
	font-size: 64px;
	margin-bottom: 75px;
	text-shadow: #000 4px 4px;
	font-weight: bold;
	text-align: left;
}

.menu h1 span {
	margin-right: 2px;
}

.menu ul {
	margin-left: 140px;
}

.menu li, .back_to_main {
	padding-bottom: 7px;
	color: #fff;
	text-shadow:
		-1px -1px 3px #000,
		1px -1px 3px #000,
		1px 1px 3px #000,
		3px 3px 1px #000,
		-1px 1px 3px #000;
}

.menu ul {
	margin-left: 135px;
}

.submenu h1 {
	margin-bottom: 25px;
}

.submenu ul {
	margin-left: 50px;
}

.back_to_main {
	margin-top: 50px;
	display: block;
	cursor: pointer;
}

.menu li:hover {
	cursor: pointer;
	color: #e38c35;
}

.submenu li.active {
	color: #f00;
}

.value {
	position: absolute;
	left: 325px;
}

#field, #controls_menu, #high_scores_menu, #multiplayer {
	display: none;
}

table {
	margin-left: -85px;
	border-spacing: 70px 3px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 0 10px 1px #000;
}

th {
	font-size: 24px;
}

td {
	font-size: 24px;
	min-width: 150px;
}

th, td {
	text-align: right;
}

.replay {
	cursor: pointer;
}

.countdown {
	font-size: 400px;
	position: absolute;
	top: 50px;
	left: 80px;
	color: #fff;
	font-family: ProFontWindows;
}

.tick {
	-webkit-transition: all 0.7s ease-in 0.2s;
	-moz-transition: all 0.7s ease-in 0.2s;
	-o-transition: all 0.7s ease-in 0.2s;

	-webkit-transform: scale(.05);
	-moz-transform: scale(.05);
	-o-transform: scale(.05);
	opacity: .1;
}

#pause {
	position: absolute;
	top: 0;
	left: 0;
	width:  800px;
	height: 700px;
	background: #000;
	color: #eee;
	display: none;
}

#pause .container {
	width: 400px;
	margin: 100px auto 0 auto;
	border: 3px solid white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px 5px #f0f;
}

#pause li:hover {
	text-shadow: 0 0 15px #f00;
}

#pause h1 {
	margin-bottom: 30px;
	font-size: 64px;
}

#pause ul {
	font-size: 36px;
	cursor: pointer;
}

#high_scores_menu table {
	font-family: ProFontWindows;
}

#scores_pagination {
	padding-top: 20px;
	text-align: center;
}

#scores_pagination .nav {
	margin-right: 10px;
	cursor: pointer;
}
