@font-face {
	font-family: "ProFontWindows";
	src: url("fonts/ProFontWindows.eot"), url("fonts/ProFontWindows.ttf");
}

html, body, div, ul, li, p, img, h1, h2, h3, h4, h5, h6 {
	position: relative;
	margin: 0;
	border: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 50px 0 0 125px;
	overflow: hidden;
	font-family: "Press Start 2P", sans-serif;
	cursor: default;
	background: #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul {
	list-style-type: none;
}

.show {
	display: block;
}

.hidden {
	display: none;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
}

#field_effects {
	z-index: 4;
}

#field_piece {
	z-index: 3;
}

#field {
	z-index: 2;
}

#field_background {
	z-index:1;
}

.menu {
	font-size: 32px;
	background: url(titlescreen/background.png) no-repeat;
	min-height: 700px;
}

.menu img {
	margin-bottom: 50px;
}

.menu h1 {
	display: none;
}

.menu caption {
	font-size: 64px;
	margin-bottom: 75px;
	font-weight: bold;
	text-align: left;
}

.submenu_text, .back_to_main {
	color: #fff;
	text-shadow:
		-1px -1px 1px #000,
		1px -1px 1px #000,
		1px 1px 3px #000,
		3px 3px 1px #000,
		-1px 1px 3px #000;
}

.menu li, .back_to_main {
	padding-bottom: 7px;
}

.main_menu_header {
	margin: 150px 0 60px 325px;
}

.main_menu_itemlist {
	margin-left: 105px;
}

.main_menu_item {
	margin: 0 75px 15px 0;
	display: inline-block;
}

.submenu {
	padding: 25px 0 0 200px;
}

.submenu h1 {
	margin-bottom: 25px;
}

.submenu ul {
	margin-left: -50px;
}

.back_to_main {
	margin-top: 25px;
	display: block;
	cursor: pointer;
}

.menu li:hover {
	cursor: pointer;
	color: #e38c35;
}

.submenu li.active {
	color: #f00;
}

.value {
	position: absolute;
	left: 510px;
}

#controls_menu li {
	font-size: 20px;
	padding-bottom: 15px;
}

table {
	margin-left: -125px;
	border-spacing: 50px 3px;
}

th {
	font-size: 20px;
	padding-bottom:10px;
}

td {
	padding-bottom: 8px;
	font-size: 16px;
	min-width: 140px;
	text-shadow:
		-1px -1px 1px #000,
		1px -1px 1px #000,
		1px 1px 1px #000,
		2px 2px 1px #000,
		-1px 1px 1px #000;
}

th, td {
	text-align: left;
}

.replay {
	cursor: pointer;
}

.countdown {
	font-size: 400px;
	position: absolute;
	top: 50px;
	left: 80px;
	color: #fff;
	font-family: ProFontWindows;
	z-index: 1000;
}

.tick {
	-webkit-transition: all 0.7s ease-in 0.2s;
	-moz-transition: all 0.7s ease-in 0.2s;
	-o-transition: all 0.7s ease-in 0.2s;

	-webkit-transform: scale(.05);
	-moz-transform: scale(.05);
	-o-transform: scale(.05);
	opacity: .1;
}

#pause {
	position: absolute;
	top: 0;
	left: 0;
	width:  800px;
	height: 700px;
	background: #000;
	color: #eee;
	display: none;
	z-index: 100;
}

#pause .container {
	width: 400px;
	margin: 100px auto 0 auto;
	border: 3px solid white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px 5px #f0f;
}

#pause li {
	margin: 0 0 8px 0;
}

#pause li:hover {
	text-shadow: 0 0 15px #f00;
}

#pause h1 {
	margin-bottom: 30px;
	font-size: 56px;
}

#pause ul {
	font-size: 24px;
	cursor: pointer;
}

#scores_pagination {
	padding-top: 20px;
	text-align: center;
}

#scores_pagination .nav {
	cursor: pointer;
}

.previous_page {
	float: left;
	margin-left: 70px;
}

.next_page {
	float: right;
	margin-right: 70px;
}

.font_preload {
	opacity: 0;
	font-family: "ProFontWindows";
}

#high_scores_daily_banner {
	display: block;
	position: absolute;
	left: 650px;
	top: 40px;
	max-width: 400px;
	max-height: 54px;
	padding: 12px;
	border: 6px solid rgba(255, 255, 255, 0.9);
	color: #fff;
	font-size: 20px;
	background: rgba(30, 30, 30, 0.5);
	overflow: hidden;
	cursor: pointer;
}

#high_scores_daily_banner.hidden {
	opacity: 0;
	-webkit-transition-property: none;
	-moz-transition-property: none;
	-o-transition-property: none;
	-ms-transition-property: none;
	transition-property: none;
}

#high_scores_daily_banner.show {
	opacity: 1;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;

	-webkit-transition-function: ease;
	-moz-transition-function: ease;
	-o-transition-function: ease;
	-ms-transition-function: ease;
	transition-function: ease;
}

.banner_header {
	margin: 0 0 10px 0;
	font-size: 24px;
}

.banner_label, .banner_value {
	display: inline;
}

#score_entry {
	top: 20px;
	left: 35px;
	background: #fff;
	z-index: 100;
	border: 3px solid white;
	padding: 20px;
	border-radius: 10px;
}

#score_entry.show {
	display: inline-block;
}

#score_entry_score {
	color: #ff4040;
}

#score_entry_name {
	font-size: 32px;
	font-family: "Press Start 2P";
	width: 430px;
	margin-top: 15px;
	color: #e38c35;
	border: none;
}

#score_entry_name:focus {
	outline: none;
}

.loading_icon {
	position: absolute;
	right: 380px;
	top: 100px;
	z-index: 100;
}
